server:
  port: 8082

spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/iam_db?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: root

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true

mybatis:
  mapper-locations: classpath*:mapper/*.xml
